<div class="container-fluid searchResultsPage" data-ng-controller="MapController as map">
	<div class="row">
		<div class="col-sm-6" style="height: 300px;">
			<div id="googleMapCanvas" data-ng-controller="MapController as map"></div>
		</div>
		<div class="col-sm-6 filters">
			<p> filters </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="user-block">
			bfds
			</div>
		</div>
		<div class="col-sm-4">
			<div class="user-block">
			fdsf
			</div>
		</div>
		<div class="col-sm-4">
			<div class="user-block">
			dfs
			</div>
		</div>
	</div>
</div>