<header data-ng-controller="HeaderController as header">
	<a ui-sref="home">Travel Monster</a>
	<div class="searchForm">
		<input id="headerSearchBar" data-ng-model="header.searchTerms" data-ng-change="header.getSuggestions()" type="text" name="search" placeholder="Where do you want to go?" data-ng-blur="header.setSearchOut()" data-ng-focus="header.setSearchIn()" data-ng-keydown="header.searchKeyPress($event)"><i class="fa fa-search fa-lg"></i>
		<div class="searchBarSuggestions" ng-hide="header.searchOut">
			<ul>
				<li data-ng-repeat="place in header.predictions">{{place.description}}</li>
			</ul>
		</div>
	</div>
	<button class="dropbtn" on-click="location.href='/#/guidify'">Become a guide</button>
	<!--<a data-ui-sref="guidify">Become a guide</a>-->
	<div class="userMenu" data-ng-hide="auth.isLoggedIn()">
		<div class="dropdown">
			<button class="dropbtn" data-ng-click="header.setMenu(); pageCtrl.setPageOverlay(true); $event.stopPropagation();">Sign Up</button>
		</div>
		<div class="dropdown" data-click-out="header.setMenu('')">
			<button data-ng-click="header.setMenu('login')" class="dropbtn" data-ng-class="{'dropbtn-gray' : header.currentMenu == 'login'}">Log In</button>
			<div class="dropdown-content-clickable" data-ng-class="{'userMenuVisible' : header.currentMenu == 'login'}">
				<form name="loginForm" data-ng-controller="LoginFormController as loginFormCtrl" data-ng-submit="loginFormCtrl.login()" novalidate>
					<input data-ng-model="loginFormCtrl.email" type="email" name="email" placeholder="E-mail" required><br>
					<input data-ng-model="loginFormCtrl.password" type="password" name="password" placeholder="Password"><br>
					<input type="Submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
	<div class="userMenu" data-ng-show="auth.isLoggedIn()">
		<div class="dropdown">
			<button class="dropbtn">
				<i data-count="{{auth.user.numofunreadmsgs}}" class="fa fa-envelope fa-lg" data-ng-class="{'badge' : (auth.user.numofunreadmsgs > 0)}"></i>
			</button>
			<div class="dropdown-content">
				<a href="">{{auth.user.numofunreadmsgs}} Unread Messages</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">{{auth.user.firstname}} <i class="fa fa-gear fa-lg"></i></button>
			<div class="dropdown-content">
				<a href="">Account Settings</a>
				<a href="" data-ng-click="auth.logout()">Logout</a>
			</div>
		</div>
	</div>
</header>